# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
- List popular languages for Data Science
- Create a table 
- Code arithmetic expressions
- Insert cells above and below existing cells

Some of the popular languages that Data Scientists use are:  
1. Python  
1. SQL
1. R

Some of the commonly uses libraries used by Data Scientist include:  
1. apache 
1. pytorch 
1. tensorflow

|Data Science Tools| 
|-------------------|
|R programming Language|  
|Hadoop| 
|ggplot|

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [3]:
200/60

3.3333333333333335

## Author  
Dyara Riviere